{{ $ := .root }}
{{ $page := .page }}
{{ $count := len (where $.Site.RegularPages "Type" "teach") }}

<!-- Talks widget -->
<div class="row">
  <div class="col-12 col-lg-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>
  <div class="col-12 col-lg-8">
    {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}

    {{ $teachs := where $.Site.RegularPages "Type" "teach" }}

    {{/* Exclude talks shown in Featured Talks widget? */}}
    {{ if $page.Params.exclude_featured }}
      {{ $teachs = (where $teachs ".Params.featured" "!=" true) }}
    {{ end }}

    {{ $.Scratch.Set "teach" (where $.Site.RegularPages "Type" "teach") }}

    {{ range first $page.Params.count (sort $teachs ".Params.weight" "asc") }}
      {{ if eq $page.Params.view 1 }}
        {{ partial "li_list" . }}
      {{ else if eq $page.Params.view 3 }}
        {{ partial "talk_li_card" . }}
      {{ else }}
        {{ partial "teach_li_simple" . }}
      {{ end }}
    {{ end }}

  </div>
</div>