{{ $item := .item }}
{{ $widget := .widget }}
{{ $link := .link }}
{{ $target := .target }}
{{ $js_tag_classes := delimit (apply (apply $item.Params.tags "replace" "." " " "-") "printf" "js-id-%s" ".") " " }}

<div class="col-lg-12 project-item isotope-item {{ $js_tag_classes | safeHTMLAttr }}" itemscope itemtype="http://schema.org/CreativeWork">
  {{ if $item.Params.custom_icon }}
    {{ with $item.Params.custom_icon }}<i class="{{ . }}" aria-hidden="true"></i>{{ end }}
  {{ else }}
    <i class="far fa-copy pub-icon" aria-hidden="true"></i>
  {{end}}

  <span class="project-title">
    <a href="{{ $link }}" {{ $target | safeHTMLAttr }} itemprop="url">{{ $item.Title }}</a>
    {{ if $item.Params.badges }}
      <span class="badges">
      {{ with $item.Params.badges }} {{ . | markdownify }} {{ end }}
      </span>
    {{ end }}
  </span>

  {{ with $item.Params.summary }}<p class="project-summary">{{ . | markdownify }}</p>{{ end }}
</div>