<div class="pub-list-item" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/Event">
  <i class="fas fa-calendar-alt pub-icon" aria-hidden="true"></i>
  <span itemprop="name"><a href="{{ .RelPermalink }}">{{ .Title }}</a></span>
  <div itemprop="startDate">
    {{ $date := .Params.time_start | default .Date }}
    {{ (time $date).Format $.Site.Params.date_format }}
    {{ if $.Site.Params.talks.time }}
      {{ (time $date).Format ($.Site.Params.time_format | default "3:04 PM") }}
    {{ end }}
  </div>
  <div class="talk-author" itemprop="author">
    {{ with .Params.authors }}
      {{- delimit . ", " | markdownify -}}
    {{- end -}}
  </div>
  <div class="talk-metadata">
    {{ if .Params.event_short }}
      {{ if .Params.location }}
        {{ .Params.event_short | markdownify }}, {{ .Params.location | markdownify }}
      {{ else }}
        {{ .Params.event_short | markdownify }}
      {{ end }} 
    {{ else if .Params.event }}
      {{ if .Params.location }}
        {{ .Params.event | markdownify }}, {{ .Params.location | markdownify }}
      {{ else }}
        {{ .Params.event | markdownify }}
      {{ end }} 
    {{ end }}
    
  </div>
  <div class="talk-links">
    {{ partial "talk_links" (dict "content" . "is_list" 1) }}
  </div>
</div>
