{{ $is_list := .is_list }}
{{ $ := .content }}

{{ if $is_list }}
<!-- <a class="btn btn-primary btn-outline btn-xs" href="{{ $.Permalink }}">
  {{ i18n "btn_details" }}
</a> -->
{{ end }}
{{ with $.Params.url_syllabus }}
<a class="btn btn-outline-primary my-1 mr-1{{ if $is_list }} btn-sm{{end}} teach-btn" href="{{ . | absURL }}">
<!-- Add control flow so it isn't a PDF symbol when there is no PDF -->
  <i class="far fa-file-pdf"></i> {{ i18n "btn_syllabus" }}
</a>
{{ end }}
{{ with $.Params.url_slides }}
<a class="btn btn-outline-primary my-1 mr-1{{ if $is_list }} btn-sm{{end}} teach-btn" href="{{ . | absURL }}">
  {{ i18n "btn_slides" }}
</a>
{{ end }}
{{ with $.Params.url_video }}
<a class="btn btn-outline-primary my-1 mr-1{{ if $is_list }} btn-sm{{end}} teach-btn" href="{{ . | absURL }}">
  {{ i18n "btn_video" }}
</a>
{{ end }}
{{ range $.Params.url_custom }}
<a class="btn btn-outline-primary my-1 mr-1{{ if $is_list }} btn-sm{{end}} teach-btn" href="{{ .url | absURL }}">
  {{ .name }}
</a>
{{ end }}
