<li itemscope itemtype="http://schema.org/CreativeWork">
    {{ if .Params.online }}
        <i class="fa-li fa fa-desktop pub-icon" aria-hidden="true"></i>
    {{ else }}
        <i class="fa-li fa fa-university pub-icon" aria-hidden="true"></i>
    {{ end }}
  <span itemprop="name">{{ .Title }}</span>
  <div class="talk-event">
    {{ if .Params.event_short }}
        {{ .Params.event_short | markdownify }}
    {{ else if .Params.event }}
            {{ .Params.event | markdownify }}
    {{ end }}
  </div>
  <p>{{ partial "teach_links" (dict "content" . "is_list" 1) }}</p>
</li>
