{{ if .Params.selected }}

<div class="pub-list-item teach-list-item" itemscope itemtype="http://schema.org/Event">
    {{ if .Params.online }}
        <i class="fas fa-desktop pub-icon" aria-hidden="true" title="Online course"></i>
    {{ else }}
        <i class="fas fa-university pub-icon" aria-hidden="true" title="Face-to-face course"></i>
    {{ end }}
    {{ if .Params.school }}
      <i class="{{.Params.school}}-icon"></i>
    {{ else }}
      <i class="osu-icon"></i>
    {{ end }}
    <span class="class-name" itemprop="name">{{ .Title }}</span>
    <!-- Buttons -->
    {{ partial "teach_links" (dict "content" . "is_list" 1) }}
    
    <!-- <div itemprop="startDate">
      {{ $date := .Params.time_start | default .Date }}
      {{ (time $date).Format $.Site.Params.date_format }}
      {{ if $.Site.Params.talks.time }}
        {{ (time $date).Format ($.Site.Params.time_format | default "3:04 PM") }}
      {{ end }}
    </div> -->
    <div class="teach-metadata">
      {{ if .Params.event_short }}
          {{ .Params.event_short | markdownify }}
      {{ else if .Params.event }}
              {{ .Params.event | markdownify }}
      {{ end }}
    </div>
    
  </div>
{{  else  }}
{{ end }}