{{ $courses := site.Data.teaching.courses | default (slice) }}
{{ $left := slice }}
{{ $right := slice }}
{{ $unassigned := slice }}

{{ range $courses }}
  {{ $column := .column | default "" }}
  {{ if eq $column "left" }}
    {{ $left = $left | append . }}
  {{ else if eq $column "right" }}
    {{ $right = $right | append . }}
  {{ else }}
    {{ $unassigned = $unassigned | append . }}
  {{ end }}
{{ end }}

{{/* Fallback for older data that does not specify columns. */}}
{{ if and (eq (len $left) 0) (eq (len $right) 0) }}
  {{ $half := div (add (len $courses) 1) 2 }}
  {{ $left = first $half $courses }}
  {{ $right = after $half $courses }}
{{ else }}
  {{ $right = $right | append $unassigned }}
{{ end }}

<div class="row">
  <div class="col-md-6 col-sm-9">
    {{ range $left }}
      {{ partial "teaching/course_item" (dict "course" .) }}
    {{ end }}
  </div>
  <div class="col-md-6 col-sm-9">
    {{ range $right }}
      {{ partial "teaching/course_item" (dict "course" .) }}
    {{ end }}
  </div>
</div>
